.page {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.header {
  background-color: #333333;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #171717;
}

.header h1 {
  margin: 10px 0;
}

.header p {
  color: #6c757d;
}

.main {
  margin-top: 20px;
}

.featuredWebinars {
  margin-top: 40px;
}

.webinarList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.webinarItem {
  margin: 20px;
  text-align: left;
}

.webinarItem h3 {
  margin: 10px 0;
}

.webinarItem p {
  color: #6c757d;
}

.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #1F509A;
  border-top: 1px solid #1F509A;
}